.container {
  position: relative;
  margin-top: 155px;
  width: 100%;
  user-select: none;
  animation: load_projects 0.3s;
  display: flex;
  border-bottom: 1px solid #222424;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.info {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}

.info h1 {
  font-size: 4rem;
  letter-spacing: -4px;
  width: 60%;
  padding: 0 25px 35px 0;
  margin-left: 25px;
  border-bottom: 1px solid #222424;
  margin-bottom: 15px;
}

.cards {
  width: 100%;
  margin: 0 auto;
  background-color: #121418;
  padding: 15px 0;
}

.card {
  display: inline-block;
  width: 30%;
  padding: 15px;
  margin: 5px;
  box-shadow: 3px 3px 10px black;
  background-color: #2d333d;
  position: relative;
  transition: all 0.3s ease;
}

.card::after {
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease;
}

.card:hover::after {
  display: none;
  transition: all 0.3s ease;
}

.card h3 {
  color: greenyellow;
}

.card img {
  width: 100%;
}

.card p {
  height: 30px;
}

/* ANIMATIONS */
@keyframes load_projects {
  0% {
      transform: translateY(-200px);
  }
}

/* RESPONSIVE */
@media only screen and (max-width: 996px) {
  .info h1 {
    width: 100%;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0 20px 35px 20px;
    box-sizing: border-box;
  }
}