.container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  margin-right: 20px;
}

.social_container {
  background: #191d24;
  display: inline-block;
  padding: 10px;
  border-radius: 50px;
}

.social_container a {
  font-size: 1.5rem;
  color: rgb(173, 173, 173);
  margin: 5px;
  padding: 5px;
  transition: all 0.3s ease-in-out;
}

.social_container a:nth-child(1):hover {
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.social_container a:nth-child(2):hover {
  color: #0e76a8;
  transition: all 0.3s ease-in-out;
}

.social_container a:nth-child(3):hover {
  color: #00bb2d;
  transition: all 0.3s ease-in-out;
}

.social_container a:nth-child(4):hover {
  color: #3b5998;
  transition: all 0.3s ease-in-out;
}

.social_container a:nth-child(5):hover {
  color: #C13584;
  transition: all 0.3s ease-in-out;
}

.social_container a:nth-child(6):hover {
  color: #00acee;
  transition: all 0.3s ease-in-out;
}

.social_container a:nth-child(7):hover {
  color: #db4a39;
  transition: all 0.3s ease-in-out;
}

/* RESPONSIVE */
@media only screen and (max-width: 996px) {
  .container {
    display: none;
  }
}