.container {
  position: relative;
  margin-top: 155px;
  width: 100%;
  user-select: none;
  animation: load_main 0.3s;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  border-bottom: 1px solid #222424;
  margin-bottom: 30px;
  height: 100%;
}

.info {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.info h1 {
  font-size: 4rem;
  letter-spacing: -4px;
  width: 100%;
  padding: 0 25px 35px 0;
  margin-left: 25px;
  border-bottom: 1px solid #222424;
  margin-bottom: 15px;
}

.info h2, .info h3, .info p {
  margin-top: 0;
  padding-top: 0;
  padding-left: 50px;
  font-weight: 300;
  margin-bottom: 5px;
  color: #c0c0c0;
}

.info p, .invite {
  margin: 15px 0;
  color: #787c82;
}

.info a, .invite a {
  color: #c0c0c0;
  transition: all 0.3s;
}

.info a:hover, .invite a:hover {
  color: #fff;
  transition: all 0.3s;
}

.picture {
  width: 100%;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture img {
  width: 60%;
  animation: load_image 3s;
}

.skills_ctn, .learns_ctn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 10px;
}

.skill_item, .learn_item {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  background-color: #222424;
  font-size: .8rem;
  transition: all .3s ease-in-out;
}

.skill_item:hover, .learn_item:hover {
  color: greenyellow;
  transition: all .3s ease-in-out;
}

.skill_item span:first-child, .learn_item span:first-child {
  font-size: 1.5rem;
}

/* ANIMATIONS */
@keyframes load_main {
  0% {
      transform: translateY(-200px);
  }
}

@keyframes load_image {
  0% {
      opacity: 0;
  }
}

/* RESPONSIVE */
@media only screen and (max-width: 996px) {
  .container {
    /* flex-direction: column-reverse; */
    grid-template-columns: 1fr;
    margin-top: 100px;
  }
  .info {
    width: 100%;
  }
  .info h1 {
    margin-bottom: 0;
    margin-left: 0;
    padding: 0 20px 35px 20px;
    box-sizing: border-box;
  }
  .info p {
  margin-top: 0;
  padding-right: 30px;
  padding-left: 30px;
  text-align: justify;
}
  .picture {
    width: 100%;
    order: -1;
  }
}